<!DOCTYPE html>
<html>
<head>
    <title>InStudio Website</title>
    <link rel="stylesheet" type="text/css" href="..\static\style.css">
</head>
<body>
<header>
    <nav class="header">
        <ul class="main-nav">
            <h1>Verde Studio</h1>
            <li><a href="">O nas</a></li>
            <li><a href="">Oferta</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Sklep</a></li>
            <li><a href="">Kontakt</a></li>
        </ul>
    </nav>
</header>
    <div class="container">
        <div class="block">block</div>
        <div class="block">block</div>
        <div class="block">block</div>
        <div class="block">block</div>
        <div class="block">block</div>
        <div class="block">block</div>
        <div class="block">block</div>
        <div class="block">block</div>
    </div>
</body>
</html>